DISKXXX=
DISKXXX_MEM=
DISKXXX_DB_SIZE=
DISKXXX_CLASS=
DISKXXX_SIZE_RATIO=
DISKXXX_ROOT=
ETC_CEPH=
CEPH_MON=
PUB_NW=
CLUSTER_NW=
SCRIPTS=
ENTRY_POINT=

RGW_DNS_NAME=
RGW_PORT=
RGW_ZONE_GROUP=
RGW_ZONE=
RGW_ZONE_ADMIN=
RGW_REALM=
RGW_ENDPOINT=
